.consult {
    position: relative;
    border: 2px solid $main-color;
    border-radius: 40px;
 
    padding: 58px 78px;

    @media(max-width: $breakpoint1280) {
        padding: 40px 40px 100px 40px;
    }
    @media(max-width: $breakpoint768) {
        padding: 40px 20px 90px 20px;
    }
    @media(max-width: $breakpoint480) {
        padding: 40px 20px 40px 20px;
        border-radius: 20px;
    }

    &__info {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;

        & h2 {
            max-width: 784px;
        }
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 26px;
        color: #474747;

        @media(max-width: $breakpoint768) {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    &__wrapper {
        margin-top: 70px;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        row-gap: 70px;
        column-gap: 60px;

        @media(max-width: $breakpoint1440) {
            gap: 40px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 40px;
            gap: 20px;
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: unset;
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        right: 0;

        height: 120px;
        width: 450px;

        background: #fff;
        border-top-left-radius: 20px;
        border-top: 2px solid $main-color;
        border-left: 2px solid $main-color;

        @media(max-width: $breakpoint768) {
            height: 80px;
            width: 300px;
        }
        @media(max-width: $breakpoint480) {
            height: auto;
            width: auto;
            border: none;

            position: static;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            background: #fff;
            height: 2px;
            bottom: -2px;

            @media(max-width: $breakpoint480) {
                display: none;
            }
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            background: #fff;
            width: 2px;
            right: -2px;

            @media(max-width: $breakpoint480) {
                display: none;
            }
        }
    }
    &__name {
        font-weight: 700;
        font-size: 30px;
        color: #000;

        @media(max-width: $breakpoint768) {
            font-size: 20px;
        }
    }
    &__description {
        margin-top: 15px;
        font-weight: 400;
        font-size: 26px;
        color: #474747;

        @media(max-width: $breakpoint768) {
            font-size: 16px;
        }
    }

    &::after {
        content: url(../assets/img/icons/blot.png);
        position: absolute;
        right: -4px;
        top: 330px;

        @media(max-width: 1600px) {
            display: none;
        }
    }
}


.left-angle {

    @media(max-width: $breakpoint480) {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        left: -40px;
        bottom: -2px;

        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 10px 10px 0 #fff;
    }
    &::before {
        content: '';
        position: absolute;
        left: -40px;
        bottom: -2px;

        width: 40px;
        height: 40px;
        background: #fff;
        border-right: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        border-bottom-right-radius: 20px;
        z-index: 2;
    }
}
.right-angle {

    @media(max-width: $breakpoint480) {
        display: none;
    }
    &::after {
        content: '';
        position: absolute;
        right: -2px;
        top: -40px;

        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 10px 10px 0 #fff;
    }
    &::before {
        content: '';
        position: absolute;
        right: -2px;
        top: -40px;

        width: 40px;
        height: 40px;
        background: #fff;
        border-right: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        border-bottom-right-radius: 20px;
        z-index: 2;
    }
}