.header {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 46px 0;
        z-index: 2;

        @media(max-width: $breakpoint1024) {
            padding: 20px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 16px 0;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 65px;

        @media(max-width: $breakpoint1024) {
            gap: 40px;
        }
        @media(max-width: $breakpoint768) {
            gap: 32px;
        }
        @media(max-width: $breakpoint480) {
            gap: 20px;
        }
    }
    &__mail {

    }
    &__phone {
        
    }
}
