.menu {
    display: none;

    &--open {
        position: relative;
        z-index: 9;

        // &::before, &::after {
        //     content: '';
        //     position: absolute;
        //     background: #fff;
        //     width: 48px;
        //     height: 100dvh;
        //     top: 0;
        // }
        // &::before {
        //     left: -48px;
        // }
        // &::after {
        //     right: -48px;
        // }

        display: flex !important;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;

        height: 100dvh;
        padding: 40px 0;

        & .menu-nav {

            flex-direction: column;
            align-items: center;
            gap: 28px;

            width: 100%;

            &__link {
                font-size: 18px;
            }
        }
    }

}

.btn-menu {
    flex-direction: column;
    justify-content: center;

    position: relative;

    @media(max-width: $breakpoint768) {
        width: 32px;
    }
}
