@import url("../assets/fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

// Заголовки
h1 {
    color: $main-color;
}
h2 {
    font-weight: 800;
    font-size: 42px;
    color: #fff;
}
h3 {
    color: $main-text;
}

// Заголовки
.title {
    color: $main-color;

    &--white {
        color: #fff;
    }
}
.number {
    font-weight: 800;
    font-size: 40px;
    color: $main-color;

    &--white {
        color: #fff;
    }
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 40px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}
.section {


    &--xlarge {
        margin-top: 200px;

        @media(max-width: $breakpoint768) {
            margin-top: 90px;
        }
    }
    &--large {
        margin-top: 170px;

        @media(max-width: $breakpoint768) {
            margin-top: 90px;
        }
    }
    &--medium {
        margin-top: 136px;

        @media(max-width: $breakpoint768) {
            margin-top: 90px;
        }
    }
    &--top {
        margin-top: 70px;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}